.home-container {
    font-family: Trebuchet MS;
    color: #0e222b;
    background-color: #a6a59c;
    text-align: center;
    min-height: calc(100vh - 60px);
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 20px;
}
.home-container-drill {
    width: auto;
    height: 350px;
    max-width: 100%;
    animation: hoverUpDown 1.5s infinite alternate ease-in-out;
    transition: transform 0.5s ease-in-out;
}
@keyframes hoverUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
.home-container-title {
    font-weight: 900;
    font-size: 64px;
}
.home-container-subtitle {
    color: #40545d;
    font-weight: 500;
    font-size: 32px;
}
.home-container-text {
    color: #fcfbf4;
    font-weight: 400;
    font-size: 22px;
}
.home-container-disBox {
    margin-top: 50px;
    background-color: #0e222b;
    height: 350px;
    width: 80%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 10px 10px 5px gray;
    transition: background-color 0.3s ease;
}

.home-container-disBox:hover {
    background-color: #1f3a47;
}
.home-container-words {
    display: flex;
    flex-direction: column;
    width: 69%;
    height: 100%;
}
.home-container-image {
    width: 30%;
    height: 100%;
}
.home-container-end {
    margin-top: 50px;
    width: 100%;
    height: 80px;
    background-color: #0e222b;
}
.home-container-start {
    color: #7fa6b0;
    font-weight: 900;
    font-size: 26px;
}
.home-container-sep {
    margin-top: 30px;
    width: 1px;
    height: 80%;
    background-color: grey;
}