.s-alert-box {
    min-width: 250px;
}

.s-alert-close::before, .s-alert-close::after {
    width: 2px;
}
html, body {
    overflow-x: hidden;
}
body {
    cursor: url('../img/cursor.png'), auto;
}
a, button, input[type="submit"], input[type="button"], input[type="reset"] {
    cursor: url('../img/cursorhover.png'), auto;
}
