.profile-container {
    padding-top: 100px;
    background-color: #a6a59c;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile-info {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #0e222b;
    padding: 2%;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 5px gray;
}

.profile-info .profile-avatar img {
    border-radius: 50%;
    max-width: 250px;
}

.profile-info .profile-name {
    font-weight: 500;
    font-size: 18px;
    color: #fcfbf4;
    
}

.profile-info .profile-email {
    font-weight: 400;
}

.text-avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    background: #46b5e5;
    background: linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -ms-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -moz-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -o-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -webkit-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
}

.text-avatar span {
    color: #7fa6b0;
    font-weight: 900;
    font-size: 26px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.profile-stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 80px;
}

.profile-stat {
    width: 17%;
    height: 350px;
    margin: 20px; 
    background-color: #0e222b; 
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 5px gray;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    transition: background-color .5s ease;
    position: relative;
}
.profile-stat:hover {
    background-color: #1f3a47;
}
.profile-stat:hover .profile-stat-mini {
    opacity: 1;
}

.profile-stat:nth-child(1) {
    animation-delay: 0.25s;
}

.profile-stat:nth-child(2) {
    animation-delay: 0.5s;
}

.profile-stat:nth-child(3) {
    animation-delay: 0.75s;
}

.profile-stat:nth-child(4) {
    animation-delay: 1s;
}

.profile-stat:nth-child(5) {
    animation-delay: 1.25s;
}

.profile-stat-number {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #fcfbf4;
    font-size: 64px;
    margin-top: 20px;
    background-color: #40545d;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-stat-dis {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #fcfbf4;
    margin: 20px;
}

.profile-stat-mini {
    margin: 20px;
    transition: opacity 0.5s ease;
    opacity: 0;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #d0d0d0;
    position: absolute;
    bottom: 20px;
}